body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    position: relative;
}
 
h1 {
    text-align: center;
    color: #333;
}
 
p {
    font-size: 18px;
    margin: 20px;
}
 
img.center-image {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
}